{% extends "PicklAppBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} – Delete rank  {{ rank.name }}?{% endblock %}

{% block body %}

    <div id="signupform">
        <div id="signupcontain">
            <h1>ARE YOU SURE? <br/>DELETE RANK : <span>{{ rank.name|upper }}</span></h1>
            <div class="sep"></div>
            <form action="{{ path('pickl_app_admin_rank_delete', {'id': rank.id}) }}" method="post">
                <ul>
                    <li style="margin-bottom: 10px !important;">
                        <a class="signupvalid" href="{{ path('pickl_app_admin_ranks') }}">
                            NO I'M NOT
                        </a>
                    </li>
                    <li style="margin-bottom: 10px !important;">
                        <input class="signupvalid" type="submit" value="YES I AM" />
                    </li>
                    {{ form_rest(form) }}
                </ul>
            </form>
        </div>
    </div>

{% endblock %}

{% block sponsors %}
    <div id="sponsorscontent">
    </div>

    <div id="create">
        <a href="{{ path('pickl_app_project_add') }}">CREATE YOUR OWN PROJECT !</a>
    </div>
{% endblock %}