{% extends "PicklAppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} – All rewards{% endblock %}

{% block body %}

    <div id="navtwo">
        <div id="navprofil">
            <div id="imgprofil"><img src="{{ asset(app.user.profilePicture.getWebPath) }}"/></div>
            <p>Hi, {{ app.user.username }}!<br><a href="{{ path('pickl_app_user_edit') }}">EDIT MY PROFILE</a></p>
        </div>
        <ul class="admin">
            <li class="activAdmin"><a href="{{ path('pickl_app_admin') }}">RETURN TO DASHBOARD</a></li>
            <li><a href="#rewards">REWARDS</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="contentprofil">
            <div id="compteimgtop" class="adminimgtop">
                <h1>Welcome to the back admin part!</h1>
                <p>In this private section, you can manage user’s profile, their contents and chose what they
                    display.</p>
                <p>Here is a comprehensive list of the actions this part allows you to do:</p>
                <p>
                    => Add a user rank<br/>
                    => Edit or delete a user rank<br/>
                    => Promote or demote a user<br/>
                    => Manage the rewards list<br/>
                    => Edit the newsletter<br/>
                </p>
            </div>

            <div id="rewards" class="titleprofil">
                <h2>REWARDS</h2>
                <div class="sep"></div>
            </div>

            {% if rewards is not empty %}
                <div class="tableprofil tablerewards">
                    <table>
                        <tr><td>ID</td><td>NAME</td><td>ICON</td></tr>
                        {% for reward in rewards  %}
                            <tr>
                                <td>
                                    #{{ reward.id }}
                                </td>
                                <td>
                                    {{ reward.name }}
                                </td>
                                <td>
                                    <p><img src="{{ asset(reward.icon.getRewardWebPath) }}" width="30" /></p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            {% else %}
                <p class="dashNothing">No reward yet</p>
            {% endif %}
        </div>
    </div>
{% endblock %}