{% extends "PicklAppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} – How it works{% endblock %}

{% block body %}
   
   
   <div id="tophow" class="top">
   <div class="containtoptitle">
       <h1>HOW IT WORKS</h1><br>
   <p>The way of creating a project successfully</p>
   </div>
   </div>
   <div id="content" class="howitcontent">
   <div id="howitbackground">
   
   <div class="articleparagraph">
           <h2>1. IMAGINE</h2>
           <img src="{{ asset('assets/icon/imagine.png') }}"/>
            <p>Once the sketch of your project is realized, it is up to you to fix the limits and to define context and goals. The audience, which you need to quickly arouse interest, must feel involved. For this, you must awake his curiosity and the best way to do this is to talk about it all around you, whether in the street or on social networks and even within the community of Pickl.

                <br><br>
                Now, what you have to do is to:
                <br>-	Tell the story of your project and write description and objectives,
                <br>-	Insert illustrations and sketches to show that your project is concrete,
                <br>-	Essential step, establish a budget to reach to make the project achievable,
                <br>-	Define gifts, kinds of rewards given to Picklr that contribute to your project,
                <br>-	Do not forget to publish your project to show it to the world!

                <br><br>And for that, nothing’s easier, simply click on the “Start a campaign” menu and you just have to follow the steps that will guide you from the beginning to the end of the creation of your project.

                Pickl also puts several tools at your disposal to direct you, including a video tutorial.</p>
            </div>
            
            <div class="articleparagraph">
           <h2>2. FINANCE</h2>
           <img src="{{ asset('assets/icon/finance.png') }}"/>
                <p>
                    Funding step is a milestone in the emergence of your project. It is this that will determine
                    whether your project is viable and if it will come out. Stand out to maximize your chances to
                    raise the necessary funds previously set! Be original and above all, you need to stay active.
                </p>
                <p>
                    It is imperative to keep Picklr in breath of: what is happening in parallel of the progression of the financing, the way you perceive feedbacks and how the project evolves. It is therefore important to write news regularly.
                    Do not neglect promotion. It also holds an important place in the outcome of the project. Mobilize even more those who already supports you by encouraging them to talk about it to their relatives.
                </p>
                <p>
                    Do not neglect promotion. It also holds an important place in the outcome of the project.
                    Mobilize even more those who already supports you by encouraging them to talk about it to
                    their relatives.
                </p>
            </div>
            
            <div class="articleparagraph">
           <h2>3. BUILD</h2>
           <img src="{{ asset('assets/icon/build.png') }}"/>
            <p>
                The goal is reached! A final task awaits you, but not least, since it is the conception itself of
                your project. It is from that time that your project actually becomes concrete and you can
                finally touch it for real.
            </p>
            <p>
                Now that Pickl provided all the necessary tools for the success of your project, the
                completion of the final stage only depends on you!
            </p>
            </div>
            
            <div class="articleparagraph">
           <h2>4. DELIVER!</h2>
           <img src="{{ asset('assets/icon/deliver.png') }}"/>
                <p>
                    Congratulations! The project that you are working on for several weeks finally see the daylight and henceforth, it only remains to commercialize it. But this not the end of the adventure!
                    Remember those who helped you to get there and it is precisely the aim of the gifts.
                </p>
                <p>
                    The Picklr who took part in your adventure through gifts now expect that you keep your promises.
                    You must present the awards to contributors, without forgetting to thank them.
                </p>
            </div>
       </div>
       
       <div id="howitfaq">
           <div id="howitfaqtitle">
           <h2>FAQ</h2>
       </div>
            
            <div class="articleparagraph">
           <h3>What is Pickl?</h3>
            <p>Pickl is a funding platform that allows anybody to give birth to originals projects.
                Once you created a project, you become part of the creators. But, these projects are funded only if they reach or exceed their goal and this, is based on contributors. They commit money to bring them to life.

                It means that, as a contributor, you’ll be refunded the full amount invested in the case the project doesn’t reach his goal. It is the principle of crowdfunding by Pickl.</p>
            </div>
            
            <div class="articleparagraph">
           <h3>Does it really work?</h3>
            <p>Since his creation, Pickl gave birth to 31 000 innovative and creative projects all around the world, collecting more than 4 million dollars.
            </p>
            </div>
            
            <div class="articleparagraph">
           <h3>What do I have to know before starting any project?</h3>
            <p>Your project must be clear in your head, from the beginning to the end. Plus, you must have the required time to spend on working for it.

                Then, make sure your idea is viable and that it can affect a large range of people to multiply your chance of reaching your goal. If your project is way too specific, you’ll probably have to adapt the amount to reach by reducing it.</p>
            </div>

           <div class="articleparagraph">
               <h3>What do I have to know before contributing?</h3>
               <p>Contributing is pretty simple: in first place, most of these contributors are project creator’s friends while others are motivated by getting an interesting gifts or simply like the idea of the project. So it means a lot. It is not giving away your money. You support an original idea that you want to see exist.</p>
           </div>

           <div class="articleparagraph">
               <h3>What are the gifts?</h3>
               <p>Gifts, that you can see on the right side of a project, enable you to invest a specific amount of money, beforehand defined by the creator, in return of obtaining a gift from the creator at the time of the distribution.</p>
           </div>


       </div>

   
{% endblock %}